<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Edit this projects", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this projects", @project, method: :delete %>
</div>
