<!DOCTYPE html>

<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body style = "background-color: #FFFFFF">
    
    <div class="navbar navbar-dark fixed-top bg-dark text-center mx-auto">
      <% if user_signed_in? %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, :style => "background-color: darkgrey; border-radius: 8px"%>
      <% else %>
        <%= button_to "Sign In", new_user_session_path, method: :get, :style => "background-color: darkgrey; border-radius: 9px"%>
      <%end%>
      <%= button_to "Main", projects_path, method: :get, :style => "background-color: darkgrey; border-radius: 10px"%>
    </div>
      





    <%=yield %>
  </body>
</html>
